{% extends "baseadmin.html.twig" %}

{% block body %}
    <h1>Page d'administration des playlists</h1>    
    
   <table class="table table-striped">        
        <thead>
            <tr>
                <th class="text-left align-top" scope="col">
                    Playlist <br />
                </th>
                <th class="text-center align-top" scope="col">
                    &nbsp;
                </th>
            </tr>
        </thead>
        <tbody>
            {% for playlist in playlists %}
                <tr class="align-middle">
                    <td>
                        <h5 class="text-info">
                            {{ playlist.name }}
                        </h5>
                    </td>
                    <td class="text-center">
                        
                         <a href="{{ path('admin.playlist.suppr', {id:playlist.id}) }}" 
                            class="btn btn-danger" onclick="return confirm('Etes-vous sur de vouloir supprimer ?')">Supprimer</a> 
                    </td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
