 {{ form_start(formPlaylist) }}
    <div class="row">
        
                <div class="col">
                    {{ form_row(formPlaylist.name) }}            
                </div>
                <div class="col">
                    {{ form_row(formPlaylist.description) }}            
                </div>
     </div>
    
    {{ form_end(formPlaylist) }}
    
    
    